extends layout.pug

block content
  form(action="/journal", method="POST")

    label(for="author") Auteure
    select(id="author", name="author")
      option Lorena
      option Alexandra
      option Anna-Livia
      option Marine
      option Sarah

    label(for="activity") Activité
    select(id="activity", name="activity")
      option Autre
      option Le forum
      option Retour au (code) source
      option Live coding
      option Bain de code

    label(for="moment") Moment
    input(type="date", name="moment", id="moment")

    label(for="learning") Ce que j'ai appris
    textarea(id="learning", name="learning")

    button(type="submit") Ajouter
    a(href="/") Annuler
